<a href="https://colab.research.google.com/github/mptejaltaru/RedBus/blob/main/Redbuspymysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Connect to MySQL database
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='34566@25', database="redbus")

# Drop rows with missing values
combined_df = combined_df.dropna()

# Convert DataFrame dtypes to MySQL compatible datatypes
dtype_map = {
    'float64': 'FLOAT',
    'object': 'TEXT',
    'int64': 'INT'
}

# Create MySQL table schema from DataFrame dtypes
columns_and_types = ", ".join(f"{col} {dtype_map[str(dtype)]}" for col, dtype in combined_df.dtypes.items())
table_name = "bus_routes"

# Create table if not exists
with myconnection.cursor() as cursor:
    cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({columns_and_types})")

# Insert data into MySQL table
with myconnection.cursor() as cursor:
    for i in range(len(combined_df)):
        # Use parameterized queries for security and performance
        sql = f"INSERT INTO {table_name} VALUES ({','.join(['%s'] * len(combined_df.columns))})"
        cursor.execute(sql, tuple(combined_df.iloc[i]))

# Commit changes
myconnection.commit()

# Close the connection
myconnection.close()